html,
body {
	background-color: #1f1f1f;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
	color: #bababa;
	font-size: 16px;
}

* {
	scroll-behavior: smooth !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 15px 0;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.3rem;
}

a {
	text-decoration: none;
	color: #d766cd;
}

.button {
	display: inline-block;
	background-color: #d766cd;
	padding: 20px;
	color: #1f1f1f;
	font-size: 1.5rem;
	text-decoration: none;
	border-radius: 30px;
	margin: 15px;
}

.container {
	max-width: 1366px;
	margin: 0 auto;
}

/* HOME */

#section-home .container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 90vh 10vh;
	justify-items: center;
	align-items: center;
}

#section-home .container > div {
	text-align: center;
}

#section-home .container .end {
	grid-column: 1/3;
}

#section-home img {
	width: 100%;
	max-width: 600px;
}

@media only screen and (max-width: 800px) {
    #section-home .container {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    #section-home .container > div {
        text-align: center;
        margin-bottom: 45px;
    }

    #section-home .container .end {
        display: none;
    }

    #section-home img {
        width: 65%;
    }
}

/* TIME  */
#section-time .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

#section-time h2 {
    margin-bottom: 30px;
}

#section-time .profiles {
	display: flex;
	justify-content: space-between;
}

#section-time .profile {
	margin: 15px;
	max-width: 200px;
	line-height: 1.5rem;
}

#section-time .profile a {
	margin-left: 5px;
}

#section-time .profile img {
	border-radius: 50%;
	width: 100%;
}

@media only screen and (max-width: 800px) {
    html, body {
        font-size: 12px;
        padding: 0 5px;
    }

    #section-time .container {
        min-height: auto;
    }

    #section-time .profiles {
        flex-direction: column;
        align-items: center;
    }

    #section-time .profile img {
        width: 50%;
    }
}
